@import '../../global.scss';
.topbar {
  background-color: white;
  color: $mainColor;
  transition: all 1s ease;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;

      .logo {
        text-decoration: none;
        color: inherit;
        .logo-image {
          width: 50px;
          height: 50px;
        }
      }
    }
    .itemContainer {
      display: flex;
      align-items: center;
      margin-left: 40px;
      span {
        font-size: 15px;
        font-weight: 500;
        margin-left: 10px;
      }
    }
    .right {
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 32px;
        height: 25px;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }
  &.active {
    background-color: $mainColor;
    color: white;
    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
