$mainColor: #5a5c5f;
$mainLightColor: #a2a5a9;
$mainDarkColor: #323437;
// $secondaryColor: #000;
$hover: #8c8b77;

// $contrastColor: #242124;
$contrastColor: #fec260;
// $contrastColor: #3d423b;
// $mainColor: #9b9478;
$secondaryColor: #fff9da;
